{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Albums</h1>
<a href="{% url 'add_album' %}"
class="btn btn-primary">
 Add New
</a>
<div class="row">
{% for album in albums %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static album.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ album.title }}</h5>
                <p class="card-text">{{ album.artist }}</p>
                <p class="card-text">{{ album.released }}</p>
                <p class="card-text">{{ album.created_at }}</p>
                <a href="{% url 'album_detail' album.pk %}"
                class="btn btn-primary">
                 Read More
             </a>
             <a href="{% url 'edit_album' album.pk %}"
             class="btn btn-primary">
              Edit
          </a>

       <a href="{% url 'delete_album' album.pk %}"
       class="btn btn-primary">
       Delete
    </a>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}